.my_div{
    background-color: green;
    border: 3px solid black;
    border-radius: 25px;
    padding: 25px 30px 50px 60px;
    margin: 50px;
}


#head1{
    font-size: 40px;
    color: blue;

}


p{
    font-size: 30px;
    color: cadetblue;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    background-color: yellow;
    border: 3px solid blue;
    padding: 30px;
    border-radius: 40px;
}

#link{
    display: block;
    margin-bottom: 30px;
}

#second_div{
    background-color: brown;
    padding: 50px;
}